# =========================
# Terraform
# =========================
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# Terraform crash logs
crash.log
crash.*.log

# =========================
# Chaves SSH (NUNCA subir)
# =========================
*.pem
*.key

# =========================
# Docker
# =========================
*.log
docker-compose.override.yml

# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/

# =========================
# OS / Editor
# =========================
.DS_Store
.vscode/
.idea/
